/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*===================================*/
/* ====== Ri Framework Styles ====== */
/*===================================*/
 ul {
 	padding-left: 0;
 	margin-bottom: 0;
 } 

 ul {
 	list-style: none;
 }

a {
	text-decoration:none;
}

.inner-wrap-1600 {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.inner-wrap {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.no-padding {
	padding: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-padding-right {
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-margin {
	margin: 0;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-right {
	margin-right: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-left {
	margin-left: 0;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.overflow-hidden {
   overflow: hidden;
 }

.ri-block {
	display: block;
}


 /*=====================================
 =            Button Styles            =
 =====================================*/

.ri-btn-outline {
  background: white;
  color: #f69709;
  border: 1px solid #f69709;
  padding: 10px 20px;
  font-size: 0.9em;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.ri-btn-outline:hover {
  background-color: #f69709;
  text-decoration: none;
  color:white;
}


/*==============================*/
/* ====== Ri Form Styles ====== */
/*==============================*/

.ri-form {
	color: #333;
}

.ri-form label {
	display: block;
	font-size: 16px;
	color: #888888;
	font-weight: 300;
}

.ri-form input[type="text"],
.ri-form input[type="password"] {
	font-weight: 300;
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	outline: 0;
	border-bottom: 3px solid #e5e5e5;
	margin-bottom: 30px;
}

.ri-form textarea {
	display: block;
	font-size: 14px;
	width: 100%;
	height: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	outline: 0;
	border-bottom: 3px solid #e5e5e5;
	margin-bottom: 30px;
}

.ri-form input[type="file"] {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Icon Delete */

.ri-delete {
	color: #999;
	padding-left: 20px;
	height: 13px;
	padding-top: 0;
	padding-bottom: 0;
	background: #fff url('../img/icons/cancel.png')no-repeat left top;
	background-size: 13px;
	transition: all 0.3s ease;
	line-height: 13px;
	font-size: 13px;
	opacity: 0.6;
	text-decoration: none;
	display: inline-block;
}

.ri-delete:hover {
	color: #ec3027;
	background-position: left bottom;
	opacity: 1;
}

/* Icon Edit*/

.ri-edit {
	display: inline-block;
	background: url('../img/icons/edit.png')no-repeat;
	background-size: 16px;
	background-position: left top;
	line-height: 16px;
	padding-left: 23px;
	transition: all 0.3s ease;
	margin-right: 10px;
}

.ri-edit:hover {
	background-position: left bottom;
}